@font-face {
  font-family: "iconfont"; /* Project id 2934754 */
  src:  url('./iconfont.ttf') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.woff2') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nan:before {
  content: "\e664";
}

.icon-nv:before {
  content: "\e644";
}

.icon-nianling:before {
  content: "\e60e";
}

.icon-tuanyuan:before {
  content: "\e657";
}

.icon-tuanyuan1:before {
  content: "\e623";
}

.icon-danglingfenbu:before {
  content: "\e646";
}

.icon-rudangjijifenzi:before {
  content: "\e620";
}

.icon-gerenziliao_dangling_40:before {
  content: "\e67e";
}

.icon-dangjian_zhengshidangyuanshuliang:before {
  content: "\e62c";
}

.icon-nianlingfenxi:before {
  content: "\e60b";
}

.icon-liudongdangyuan:before {
  content: "\e9c7";
}

.icon-qunzhong:before {
  content: "\e804";
}

.icon-zhibuweiyuanhui:before {
  content: "\e640";
}

.icon-Party-construction:before {
  content: "\e609";
}

.icon-dangjian_wodekecheng:before {
  content: "\e674";
}

.icon-dangjian_tongbaozhuanxiang:before {
  content: "\e677";
}

.icon-dangjian_wodejifen:before {
  content: "\e679";
}

.icon-dangjian_jifenguanli:before {
  content: "\e67a";
}

.icon-dangjian_gerenshenbao:before {
  content: "\e684";
}

.icon-dangjian_gerenzhongxin:before {
  content: "\e685";
}

.icon-dangjian_dangyuanguanxizhuanjie:before {
  content: "\e686";
}

.icon-dangjian_dangyuanluntan:before {
  content: "\e689";
}

.icon-dangjian_kaoherenwu:before {
  content: "\e68b";
}

.icon-dangjian_minzhupingyidangyuan:before {
  content: "\e68c";
}

.icon-dangjian_sixianghuibao:before {
  content: "\e68d";
}

.icon-dangjian_tanxintanhua:before {
  content: "\e68e";
}

.icon-dangjian_shujufenxi:before {
  content: "\e68f";
}

.icon-dangjian_woderenwu:before {
  content: "\e690";
}

.icon-dangjian_xinxidanganguanli:before {
  content: "\e692";
}

.icon-dangjian_xiugaiziliao:before {
  content: "\e693";
}

.icon-dangjian_xuexijiaoyu:before {
  content: "\e694";
}

.icon-dangjian_xuexiyuandi:before {
  content: "\e695";
}

.icon-dangjian_yitiguanli:before {
  content: "\e696";
}

.icon-dangjian_zhidulashi:before {
  content: "\e697";
}

.icon-dangjian_neirongguanli:before {
  content: "\e698";
}

.icon-dangjian_zuzhihuodong:before {
  content: "\e699";
}

.icon-dangjian_xitongshezhi:before {
  content: "\e69a";
}

.icon-dangjian_zuzhiqingkuangbianhua:before {
  content: "\e69b";
}

.icon-dangjian_zuzhishezhi:before {
  content: "\e69c";
}

.icon-dangjian_zuzhizhongxin:before {
  content: "\e69d";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-toutiaoyangshi:before {
  content: "\e622";
}

.icon-dangwu:before {
  content: "\e603";
}

.icon-dangjian_zhutidangri:before {
  content: "\e683";
}

.icon-dangjianhuodong:before {
  content: "\e6bd";
}

.icon-dangjianxinxi:before {
  content: "\e6be";
}

.icon-dangjianpengyouquan:before {
  content: "\e6bf";
}

.icon-32-dangjian:before {
  content: "\e608";
}

.icon-dangjian1:before {
  content: "\e60a";
}

.icon-dangjian-1:before {
  content: "\e78a";
}

.icon-dangjian_tongxunlu:before {
  content: "\e671";
}

.icon-dangjian_duban:before {
  content: "\e67b";
}

.icon-dangjian_shushuodangjian:before {
  content: "\e67f";
}

.icon-dangjian_banzijianshe:before {
  content: "\e680";
}

.icon-dangjian_duiwujianshe:before {
  content: "\e681";
}

.icon-dangjian_dangneibiaozhang:before {
  content: "\e682";
}

.icon-zuzhijiagoujiekou:before {
  content: "\e89a";
}

.icon-dangjiandashuju:before {
  content: "\e6bb";
}

.icon--dangjian:before {
  content: "\e721";
}

.icon-dangjianshipin:before {
  content: "\e81b";
}

.icon-dangjian:before {
  content: "\e6d8";
}

.icon-dangjian-3:before {
  content: "\e794";
}

.icon-dangjian-2:before {
  content: "\e7a9";
}

.icon-dangjian_guanliyuan:before {
  content: "\e672";
}

.icon-dangjian_fazhandangyuanjihua:before {
  content: "\e673";
}

.icon-dangjian_dangzhangdanggui:before {
  content: "\e675";
}

.icon-dangjian_dangwuguanli:before {
  content: "\e676";
}

.icon-dangjian_dangfeiguanli:before {
  content: "\e678";
}

.icon-dangjian_sanhuiyike:before {
  content: "\e67c";
}

.icon-dangjian_dangjianhuodongshiguanli:before {
  content: "\e67d";
}

.icon-dangjian_jiaoseleixingguanli:before {
  content: "\e687";
}

.icon-dangjian_zhibupaihang:before {
  content: "\e688";
}




